<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="shortcut icon" href="">
    <title>Burger App</title>
</head>
<body>
    <div id="logoArea">
        <img id="logoImg" src="/assets/img/burger.png" alt="burger">
        <h1 id="logoText">Burger App</h1>
    </div>
    <form id="newBurgerSubmit">
        <input id="burgerField" type="text" name="newBurger" placeholder="Create a new Burger">
        <br>
        <input type="submit" value="Create">
    </form>
    <hr>
    <div>
        <div id="theMenu">
            {{{ body }}}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/assets/js/com.js" type="text/javascript" async="true"></script>
</body>
</html>